            <li class="navbar-item">
              <a class="nav-link" href="/login"><%-__('Login')%></a>
            </li>
            <li class="navbar-item">
              <a class="nav-link" href="/agreement"><%-__('Register')%></a>
            </li>
