<!DOCTYPE html>
<html lang="en">
    
    <%- include ../partials/head %>
  <body>

    <%- include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
            <div class="card w-100">
              <div class="card-body">
                <h2>About <b>FREAK</b></h2>
                <p class="card-text">
                    We are crypto enthusiasts that want a place that won't delist our own coins and can have a place for other shitcoins.<br>
		Our list of trading pairs are whatever we want, but will always have DOGE and FREAK. We are always open to collaborating with cryptocurrency owners.
			Our interface is based off the OpenTrade opensource software found <a href="https://github.com/3s3s/opentrade">here</a>. </br>
			
<h3><b>FreakChain Specifications</b></h3>
Name: FreakChain </br>
Ticker: FREAK </br>
Algorithm: POS  </br>
Maximum Coin Supply: 1,000,000,000 </br>
Premine: 5,000,000 (0.5%) </br>
Block Time: 3 minutes </br>
PoS reward: 5% </br>
PoS Age: 5 hours </br>
Maturity: 6 blocks
<br>
<h3><b>Links</b></h3>

1. <a target="_blank" href="https://freakhouse.dev/freakchain/">Website</a><br>
2. <a target="_blank" href="https://discord.gg/98eWYj2">Discord</a><br>
3. <a target="_blank" href="http://freakchain.freakhouse.dev/ ">Explorer</a><br>
4. <a target="_blank" href="https://github.com/freakcoderz/FreakChain/releases">Wallets</a><br>
5. <a target="_blank" href="#">White Paper</a><br>
6. <a target="_blank" href="https://github.com/freakcoderz/FreakChain/">GitHub Source</a><br>
</p>   

            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <%- include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>