<!DOCTYPE html>
<html lang="en">
    
    <%- include ../partials/head %>
  <body>

    <%- include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
      <div class='row'>
        <div class="col-md-12">
          <p><h2>By clicking this button, you agree to the following terms:</h2>
            <button type="button" class="btn btn-outline-alert btn-lg active" style="margin: 0.03rem; padding: 0.15rem 0.3rem; border-radius: 0.4rem;"><a href="https://freak.exchange/signup">Register</a></button>
          </p>
            <div class="card w-100">
              <div class="card-body">
                <h2>User Agreement</h2>
                <p class="card-text">
                    This Customer Agreement (hereinafter - the "Agreement") sets out the terms and conditions of using the Freak.Exchange website (hereinafter "Terms of Use"), accessible at https://freak.exchange (hereinafter, the "Website"). Before using the Website, the natural person (hereinafter "Customer") must read, agree with and accept these Terms of Use. If the Customer doesn't accept the terms of this Agreement and shall not accept to be bound by all the terms of this Agreement, they should stop using the Website immediately.</br>
                    Administration reserves the right to modify these Terms at its sole discretion. The new version of the Agreement enters into effect since the moment of being published on website. The User acknowledges that he (she) should independently monitor news in order to get the latest updates. The users shall be recognized to have accepted these changes if they continue to use the Platform. If a User does not agree to these Terms, he (she) should stop using the Website.
                     <h3>General provision and definitions:</h3>
                        &#9679 Freak.Exchange (hereinafter referred to as "Service") is an online tool for trading various types of cryptocurrency (digital currency).</br>
                        &#9679 These Terms of Use outline the terms of access to the website and the use of services provided by Service.</br>
                        &#9679 The Service is subject to the provisions of these Terms of Use.</br>
                        &#9679 The Service provides equal rights to all Users but it does not guarantee equal connection quality.</br>
                        <h3>Access to Service:</h3>
                        &#9679 By registering with Service, Users agree to comply with the Terms of Use and confirm that they are at least 18 years of age and that use of this Service is not prohibited in their country of residence. Users also confirm that they do not plan to perform any illegal activity through the use of the Service.</br>
                        &#9679 Users guarantee that they provide true, accurate, current, and complete personal information at the time of registration and agree to maintain and keep the information up to date.</br>
                        &#9679 Users shall ensure their registration details and account access are kept confidential and are fully liable for all activity on their account including security breaches and unauthorized access.</br>
                        &#9679 Users undertake to notify the Service of any unauthorized use of the account in a timely manner.</br>
                        &#9679 Users shall understand that we are not a bank and do not guarantee your funds will be safe if the Service is used to store funds. Assume that this and all exchanges are subject to being "hacked" no matter how great the security.</br>
                         <h3>Suspension of Access:</h3>
                        &#9679 In the event that Service suspects illegal activity on an account or suspects that a User's account was breached or a User violated any of the Terms of Use, the account in question will be temporarily suspended. User should contact the Customer Support Team to restore access.</br>
                        &#9679 A User's account shall be suspended without the right to regain access to the account if the User is found to obstruct and impede the operation of the Service.</br>
                        <h3>Third Party Relations:</h3>
                        &#9679 By accepting this Agreement, Users warrant that they are the rightful owners and are entitled to use all moneys and Cryptocurrency.</br>
                        &#9679 Users trading with third party funds bear sole responsibility to the third party. Freak.Exchange is impartial and shall not be liable to any third party for the funds. In the event of any dispute, the Service shall not be a responsible party.</br>
                        &#9679 The Service shall not provide any transaction information to any third parties.</br>
                        &#9679 The Service shall not accept any third party requests or claims to suspend any accounts.</br>
                        <h3>Risk warning:</h3>
                        By accepting these Terms of Use Users assume liability for any loss arising from the use of Service.
                        <h3>Intellectual Property:</h3>
                        All materials published on the Site, as well as the Service and other services provided by the Site, are the property of the Service and cannot be used for publication, distribution, duplication.
                        <h3>Disclaimer:</h3>
                        &#9679 The Service shall be provided on an "as is" basis. Service shall make every effort to ensure the smooth running of the Service. However it does not guarantee that there will be no technical issues which could lead to a complete or partial suspension of the Service.</br>
                        &#9679 Service shall not be liable to Users for any damages incurred by the Users even where the Service has been aware of such damages in advance. The Service shall not be liable to Users for any data leaked to any third parties about the Users' activities in the event of a security breach.</br>
                        &#9679 The Service shall not be liable for any issues arising from the interruption or loss of connectivity, including interruptions to the global internet network or from any force-majeure event.</br>
                        <h3>Contacts:</h3>
                        In the event of any problems, disputes or misunderstandings, please contact the Customer Support Team of the Service.        
</p>   

            
              </div>
            </div>
        </div>
      </div>
 </div><br><br><br><br>
    </div> <!-- /container -->

    <%- include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>