<!DOCTYPE html>
<html lang="en">
    
    <%- include ../partials/head %>
  <body>

    <%- include ../partials/header %>


<div class="featured-bg-1" id="about"><br><br>
    <div class="container pt-2">
                <h2>Coins Currenty listed</h2>
      <div class='row'>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/csm.png" width="40"><b>  Consortium</b></h3>
		Ticker: CSM </br>
		Algorithm: Quark/PoS/MN</br>
		Deposit Confirmations: 20  </br>
		<a target="_blank" href="https://www.primestyleltd.com/consortium">Website</a><br>
		<a target="_blank" href="https://discord.gg/HsZRVpU">Discord</a><br>
		<a target="_blank" href="http://csm.blockexplorer.monster/">Explorer</a><br>
		<a target="_blank" href="https://github.com/Consortium3000/Consortium">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/digibyte.png" width="40"><b> Digibyte</b></h3>
		Ticker: DGB</br>
		Algorithm: Multi</br>
		Deposit Confirmations: 20</br>
		<a target="_blank" href="https://digibyte.org/">Website</a><br>
		<a target="_blank" href="https://reddit.com/r/Digibyte">Reddit</a><br>
		<a target="_blank" href="https://digiexplorer.info/">Explorer</a><br>
		<a target="_blank" href="https://github.com/digibyte-core">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://assets.coingecko.com/coins/images/5/small/dogecoin.png?1547792256" width="40"><b>  Dogecoin</b></h3>
		Ticker: DOGE </br>
		Algorithm: POW/Scrypt</br>
		Deposit Confirmations: 30  </br>
		<a target="_blank" href="http://dogecoin.com/">Website</a><br>
		<a target="_blank" href="https://twitter.com/dogecoin">Twitter</a><br>
		<a target="_blank" href="https://blockchair.com/dogecoin ">Explorer</a><br>
		<a target="_blank" href="https://github.com/dogecoin">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/drv.png" width="40"><b> Dravite</b></h3>
		Ticker: DRV</br>
		Algorithm: PoW/PoS</br>
		Deposit Confirmations: 25</br>
		<a target="_blank" href="http://www.draviteecosystem.com/">Website</a><br>
		<a target="_blank" href="https://discord.gg/uZ8HxDr">Social</a><br>
		<a target="_blank" href="https://dravite.explorerhub.io/">Explorer</a><br>
		<a target="_blank" href="https://github.com/bitcoinbabys/dravite">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
      </div><br>

	<div class='row'>
        <div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freakchain.freakhouse.dev/images/logo.png" width="40"><b>  FreakChain</b></h3>
		Ticker: FREAK </br>
		Algorithm: POS  </br>
		Deposit Confirmations: 6  </br>
		<a target="_blank" href="https://freakhouse.dev/freakchain/">Website</a><br>
		<a target="_blank" href="https://discord.gg/98eWYj2">Discord</a><br>
		<a target="_blank" href="http://freakchain.freakhouse.dev/ ">Explorer</a><br>
		<a target="_blank" href="https://github.com/freakcoderz/FreakChain/">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/glove.png" width="40"><b>  Glovecoin</b></h3>
		Ticker: GLOV </br>
		Algorithm: POS  </br>
		Deposit Confirmations: 6  </br>
		<a target="_blank" href="https://www.primestyleltd.com/cryptofightclub">Website</a><br>
		<a target="_blank" href="https://twitter.com/OfficialTeamCFC">Twitter</a><br>
		<a target="_blank" href="https://glovecoin.freakhouse.dev ">Explorer</a><br>
		<a target="_blank" href="https://github.com/frodriguez2010/GloveCoin">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://mentx.freakhouse.dev/images/logo.png" width="40"><b>  MentX</b></h3>
		Ticker: MENTX </br>
		Algorithm: POS</br>
		Deposit Confirmations: 6  </br>
		<a target="_blank" href="https://www.primestyleltd.com/mentx">Website</a><br>
		<a target="_blank" href="https://discord.gg/98eWYj2">Discord</a><br>
		<a target="_blank" href="http://mentx.freakhouse.dev/">Explorer</a><br>
		<a target="_blank" href="https://github.com/freakcoderz/mentx">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/mic3.png" width="40"><b>  Mousecoin</b></h3>
		Ticker: MIC3 </br>
		Algorithm: PoS</br>
		Deposit Confirmations: 6  </br>
		<a target="_blank" href="https://mousecoin.network/">Website</a><br>
		<a target="_blank" href="https://discord.gg/bD4zKCC">Discord</a><br>
		<a target="_blank" href="http://explorer.mousecoin.network/">Explorer</a><br>
		<a target="_blank" href="https://github.com/ArcaneCrypto/Mousecoin-MIC3/">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
      </div><br>

	<div class='row'>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/mouse.png" width="40"><b> MouseMN</b></h3>
		Ticker: MOUSE</br>
		Algorithm: PoS/MN</br>
		Deposit Confirmations: 5</br>
		<a target="_blank" href="https://mousemn.com/">Website</a><br>
		<a target="_blank" href="https://discord.gg/ZHQGcpP">Discord</a><br>
		<a target="_blank" href="http://explorer.mousemn.com/">Explorer</a><br>
		<a target="_blank" href="https://github.com/trapier21/MouseMN">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/omen.png" width="40"><b>  Omencoin</b></h3>
		Ticker: OMEN </br>
		Algorithm: POS</br>
		Deposit Confirmations: 6  </br>
		<a target="_blank" href="https://freakhouse.dev/omen">Website</a><br>
		<a target="_blank" href="https://discord.gg/98eWYj2">Discord</a><br>
		<a target="_blank" href="http://omencoin.freakhouse.dev/">Explorer</a><br>
		<a target="_blank" href="https://github.com/freakcoderz/omencoin">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://i.imgur.com/XbWi2cw.png" width="40"><b>  Ratcoin2.0</b></h3>
		Ticker: RAT </br>
		Algorithm: POS  </br>
		Deposit Confirmations: 30  </br>
		<a target="_blank" href="http://ratcoin.network/">Website</a><br>
		<a target="_blank" href="https://discord.com/invite/6M27VCJ">Discord</a><br>
		<a target="_blank" href="http://explorer.ratcoin.network/">Explorer</a><br>
		<a target="_blank" href="https://github.com/ArcaneCrypto/RatCoin-2.0">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/RNRC.png" width="40"><b> Rock N Rain</b></h3>
		Ticker: RNRC</br>
		Algorithm: PoS</br>
		Deposit Confirmations: 6</br>
		<a target="_blank" href="https://rocknrain.com/">Website</a><br>
		<a target="_blank" href="https://discord.gg/upxUrgT">Discord</a><br>
		<a target="_blank" href="http://rnrc.blockexplorer.monster/">Explorer</a><br>
		<a target="_blank" href="https://github.com/RockNRain/RNRC">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	</div><br>

	<div class='row'>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/tokemon.png" width="40"><b> Tokemon</b></h3>
		Ticker: TKM</br>
		Algorithm: PoS</br>
		Deposit Confirmations: 40</br>
		<a target="_blank" href="https://tokemoncoin.tk/">Website</a><br>
		<a target="_blank" href="https://discord.gg/BCJWxpDCKr">Discord</a><br>
		<a target="_blank" href="http://explorer.tokemoncoin.tk/">Explorer</a><br>
		<a target="_blank" href="https://github.com/ArcaneCrypto/Tokemon-Coin">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/manta.png" width="40"><b> TR3B</b></h3>
		Ticker: MPWR</br>
		Algorithm: POS</br>
		Deposit Confirmations: 15</br>
		<a target="_blank" href="https://t.co/ttgNs7rlop?amp=1">Website</a><br>
		<a target="_blank" href="https://twitter.com/TR3B_Manta">Twitter</a><br>
		<a target="_blank" href="https://tr3b.freakhosue.dev">Explorer</a><br>
		<a target="_blank" href="https://github.com/freakcoderz/TR3B">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
        <div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/ubq.png" width="40"><b>  Ubiquitium</b></h3>
		Ticker: UBQ</br>
		Algorithm: PoW  </br>
		Deposit Confirmations: 40</br>
		<a target="_blank" href="https://ubiquitium.com/">Website</a><br>
		<a target="_blank" href="https://discord.gg/eNdZqcrvs2">Discord</a><br>
		<a target="_blank" href="http://uqbexplorer.com/">Explorer</a><br>
		<a target="_blank" href="https://github.com/Ubiquitium-Blockchain/ubiquitium">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="https://freak.exchange/assets/coins/xgamecoin.png" width="40"><b> XGamecoin</b></h3>
		Ticker: XGAME</br>
		Algorithm: PoS</br>
		Deposit Confirmations: 10</br>
		<a target="_blank" href="https://xgamecoin.tk/">Website</a><br>
		<a target="_blank" href="https://discord.gg/u3f58cF">Discord</a><br>
		<a target="_blank" href="https://xgamecoin.tk/blockexplorer">Explorer</a><br>
		<a target="_blank" href="https://github.com/xgamecoindev/xgamecoin-Source">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
</div><br>


<!-- Coin row template, copy only
	<div class='row'>
        <div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: POS  </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Twitter</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-3">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		Deposit Confirmations:   </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
      </div><br>
-->

<!--
<div class='row'>
        <div class="col-md-4">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Twitter</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>  
	     </div>
	   </div> 
	</div>
	<div class="col-md-4">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
	<div class="col-md-4">
            <div class="card w-100">
              <div class="card-body">
                <p class="card-text">		
		<h3 style="text-align:center"><img src="" width="40"><b></b></h3>
		Ticker: </br>
		Algorithm: </br>
		<a target="_blank" href="">Website</a><br>
		<a target="_blank" href="">Social</a><br>
		<a target="_blank" href="">Explorer</a><br>
		<a target="_blank" href="">GitHub Source</a><br>
		</p>
              </div>
            </div>
        </div>
      </div><br>


-->



 </div><br><br><br><br>
    </div> <!-- /container -->

    <%- include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>